<div class="container-fluid">
    <h1>
        <span class="scvo-logo"></span>Scavenger Hunt
    </h1>
    <div *ngIf="!currentUser" >
        <form (ngSubmit)="onSubmit(participant, $event)" [formGroup]="participant">
            <input type="email" formControlName="email" [(ngModel)]="email_input" placeholder="Please enter your email address" autocomplete="off" [autofocus] />
        </form>
        <div>
            <p *ngFor="let winner of winnerstext">{{winner}}</p>
        </div>
    </div>
    <div *ngIf="currentUser && mode !== 'dead'">
        <!-- <h2>This is Logged In mode!</h2> -->
        <!-- <h2>You have {{currentUser.lives}} Lives</h2> -->
        <ul class="lives">
            <li *ngFor="let live of createRange(currentUser.lives)"><span class="twa twa-heart"></span></li>
            <li *ngFor="let live of createRange(5-currentUser.lives)"><span class="twa twa-broken-heart"></span></li>
        </ul>

        <div class="winner" *ngIf="progress === WIN && mode === 'select'">
            <h2>Well done!</h2>
            <span class="fruit twa twa-4x twa-tada"></span>
            <h3>You have been entered into our prize draw for today!</h3>
        </div>

        <div *ngIf="mode === 'select'">
            <!-- <h2>This is Select Mode, press a fruit!</h2> -->
            <!-- <h2>Which organisation have you visited?</h2> -->
            <ul class="selection">
                <li *ngFor="let key of questionKeys">
                    <div *ngIf="currentUser.progress[key] === false" [innerHTML]="key | fruit" class="question-select"></div>
                    <div *ngIf="currentUser.progress[key] === true" class="question-done"><span class="a fruit twa twa-white-check-mark"></span></div>
                    <h2>{{QUESTIONS[key].organisation}}</h2>
                    <h3>{{QUESTIONS[key].question}}</h3>
                    <!--<ul *ngFor="let answer of QUESTIONS[key].answers">-->
                    <!--<li>-->
                    <!--<p>{{answer.sequence}} {{answer.text}}</p>-->
                    <!--</li>-->
                    <!--</ul>-->
                </li>
            </ul>

            <ul *ngIf="progressBar.length > 0" class="progress">
                <div class="fruit-sequence">
                    <li *ngFor="let answer of progressBar">
                        <span [innerHTML]="answer | fruit"></span>
                    </li>
                </div>
            </ul>
        </div>

        <div *ngIf="mode === 'go'" class="question">
            <!-- <h2 *ngIf="mode === 'go'">This is go mode! Question is... {{currentQuestion}}</h2> -->
            <h2>{{QUESTIONS[currentQuestion].organisation}}</h2>
            <h3>{{QUESTIONS[currentQuestion].question}}</h3>
            <ol class="answers">
                <li *ngFor="let answer of QUESTIONS[currentQuestion].answers">
                    <p>
                        <span class="answer">{{answer.answer}}</span>
                        <span class="fruit-sequence">
                            <span *ngFor="let item of answer.sequence" [innerHTML]="item | fruit"></span>
                        </span>
                    </p>
                </li>
            </ol>

            <ul class="progress">
                <div *ngIf="fruitListener.error">
                    <div class="hand">
                        <li><span class="fruit twa twa-point-right"></span></li>
                    </div>
                    <div class="fruit-sequence">
                        <li [innerHTML]="wrongEmoji | wrong"></li>
                    </div>
                </div>
                <div *ngIf="!fruitListener.error">
                    <div class="hand">
                        <li><span class="fruit twa twa-point-right"></span></li>
                    </div>
                    <div class="fruit-sequence" *ngIf="fruitListener.partialsequence && fruitListener.partialsequence.length > 0">
                        <li *ngFor="let thing of fruitListener.partialsequence" [innerHTML]="thing | fruit"></li>
                    </div>
                </div>
            </ul>
        </div>

        <div *ngIf="mode === 'win'" class="question">
            <h2>Well done! <span class="fruit twa twa-tada"></span></h2>
            <h4>You have correctly answered the question for {{QUESTIONS[currentQuestion].organisation}}.</h4>
            <h4>Please touch any connected item of fruit to continue...</h4>
        </div>
    </div>

    <div *ngIf="currentUser && mode === 'dead'" class="question dead">
        <div class="lives">
            <li *ngFor="let live of createRange(5)"><span class="twa twa-broken-heart"></span></li>
        </div>
        <h2>Sorry, you answered incorrectly too many times! <span [innerHTML]="wrongEmoji | wrong"></span></h2>
    </div>
</div>
