<div class="container-fluid">
    <h1>
        <span class="scvo-logo"></span>Scavenger Hunt
    </h1>
    <div *ngIf="!currentUser" >
        <form (ngSubmit)="onSubmit(participant, $event)" [formGroup]="participant">
            <input type="email" formControlName="email" [(ngModel)]="email_input" placeholder="Please enter your email address" autocomplete="off" [autofocus] />
        </form>
    </div>
    <div *ngIf="currentUser && this.currentUser.lives > 0">
        <!-- <h2>This is Logged In mode!</h2> -->
        <!-- <h2>You have {{currentUser.lives}} Lives</h2> -->
        <ul class="lives">
            <li *ngFor="let live of createRange(this.currentUser.lives)">♥</li>
        </ul>

        <div *ngIf="mode === 'select'">
            <!-- <h2>This is Select Mode, press a fruit!</h2> -->
            <h2>Which organisation have you visited?</h2>
            <ul class="selection">
                <li *ngFor="let key of qKeys()">
                    <h3 *ngIf="currentUser.progress[key] === false">{{QUESTIONS[key].organisation}}</h3>
                    <div [innerHTML]="key | fruit" class="question-select"></div>
                    <!--<ul *ngFor="let answer of QUESTIONS[key].answers">-->
                    <!--<li>-->
                    <!--<p>{{answer.sequence}} {{answer.text}}</p>-->
                    <!--</li>-->
                    <!--</ul>-->
                </li>
            </ul>
        </div>

        <div *ngIf="mode === 'go'">
            <!-- <h2 *ngIf="mode === 'go'">This is go mode! Question is... {{currentQuestion}}</h2> -->
            <h2>{{QUESTIONS[currentQuestion].organisation}}</h2>
            <h3>{{QUESTIONS[currentQuestion].question}}</h3>
            <ol class="answers">
                <li *ngFor="let answer of QUESTIONS[currentQuestion].answers">
                    <p><span *ngFor="let item of answer.sequence" [innerHTML]="item | fruit"></span> {{answer.answer}}</p>
                </li>
            </ol>
            <h1>KEY PRESSED : {{lastKey | fruit}}</h1>
        </div>

        <div *ngIf="mode === 'win'">
            <h2>You have correctly answered {{currentQuestion}}! Press any fruit to continue!</h2>
        </div>
    </div>

    <div *ngIf="currentUser && this.currentUser.lives <= 0">
        <div class="lives dead">
            Out of lives!
        </div>
        <h2>Sorry, you got too many questions wrong!</h2>
    </div>
</div>
