<div class="row">
    <div class="col s3">
        <a href="#">Question 1</a>
    </div>
    <div class="col s3">
        <a href="#">Question 2</a>
    </div>
    <div class="col s3">
        <a href="#">Question 3</a>
    </div>
    <div class="col s3">
        <a href="#">Question 4</a>
    </div>
    <div class="col s3">
        <a href="#">Question 5</a>
    </div>
    <div class="col s3">
        <a href="#">Question 6</a>
    </div>
    <div class="col s3">
        <a href="#">Question 7</a>
    </div>
    <div class="col s3">
        <a href="#">Question 8</a>
    </div>
</div>
